<launch>
  <arg name="joy_dev" default="/dev/input/js0" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="autorepeat_rate" value="5" />
  </node>

  <node pkg="printeps_hsr_modules" name="teleop_twist_joy" type="teleop_twist_joy.py"/>

</launch>
